<!-- Screen reader announcements -->
<div aria-live="polite" id="announcer" class="sr-only"></div>

<!-- Skip to main content -->
<a href="#main-content" class="to-main-content">Skip to main content</a>

<div id="wrapper">
<div class="map slide" id="mapper">
  <div class="chatter">Most Census tracts in Minnesota have average life expectancies either <span class="legendary blue4">above</span> or <span class="legendary gray3">close to</span> the national average of 78.7 years-years-old, though there are some pockets <span class="legendary orange3">below</span> below that.</div>
  <svg width="520" height="600" viewBox="0 0 520 600" preserveAspectRatio="xMidYMid" class="desktop"></svg>
  <!-- <div class="byline">Source: U.S. Census Bureau | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div> -->
</div>

<div class="map slide" id="mapperMetro">
  <div class="chatter">Many of the Twin Cities metro area's wealthier suburbs have average life expectancies well-<span class="legendary blue4">above</span> or <span class="legendary gray3">close to</span> the national average, though in some areas of Minneapolis and St. Paul the numbers are <span class="legendary orange3">below</span> that.</div>
  <svg width="520" height="600" viewBox="0 0 520 600" preserveAspectRatio="xMidYMid" class="desktop"></svg>
  <!-- <div class="byline">Source: U.S. Census Bureau | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div> -->
</div>

<div class="chart slide" id="chart">
  <div class="chatter">Shows the percentage of population by region with life expectancy <span class="legendary blue4">above</span>, <span class="legendary gray3">close to</span> or <span class="legendary orange3">below</span> the national average, according to 2010 Census numbers.</div>
  <div id="regionChart"></div>
  <!-- <div class="byline">Source: U.S. Census Bureau | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div> -->
</div>

</div>