<!-- Screen reader announcements -->
<div aria-live="polite" id="announcer" class="sr-only"></div>

<!-- Skip to main content -->
<a href="#main-content" class="to-main-content">Skip to main content</a>

<div id="wrapper">
<div class= slide" id="mnmap">
  <div class="chartTitle">Using data to see where people live longer</div>
  <div class="chatter">The Robert Wood Johnson Foundation, National Association for Public Health Statistics and Information Systems and the National Center for Health Statistics mined death and birth data at a level never seen before to determine average life expectancy by Census tract.</div>
  <div class="map" id="mapper">
      <div class="reset legendary gray4">&nbsp;&#x2715;</div>
      <svg width="520" height="600" viewBox="0 0 520 600" preserveAspectRatio="xMidYMid" class="desktop"></svg>
  </div>
  <div class="chatter">
      <div>Life expectancy by Census tract, Minnesota</div>
      <div><div class="legendBar orange4"></div><div class="legendBar orange3"></div><div class="legendBar orange1"></div><div class="legendBar green1"></div><div class="legendBar green4"></div></div>
      <div class="ticks"><div class="legendBar">64</div><div class="legendBar">79</div><div class="legendBar">81</div><div class="legendBar">82</div><div class="legendBar">85</div></div>
    </div>
  <div class="byline">Source: Robert Wood Johnson Foundation, National Association for Public Health Statistics and Information Systems, National Center for Health Statistics | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
</div>
 
<div class="slide" id="compare">
  <div id="mapperPoverty" class="stackmap hidden"><svg width="520" height="600" viewBox="0 0 520 600" preserveAspectRatio="xMidYMid" class="desktop"></svg></div>
  <div id="mapperMetro" class="stackmap"><svg width="520" height="600" viewBox="0 0 520 600" preserveAspectRatio="xMidYMid" class="desktop"></svg></div>
  <div class="chatter">
      <div>Life expectancy by Census tract, Twin Cities metro</div>
      <div><div class="legendBar orange4"></div><div class="legendBar orange3"></div><div class="legendBar orange1"></div><div class="legendBar green1"></div><div class="legendBar green4"></div></div>
      <div class="ticks"><div class="legendBar">64</div><div class="legendBar">79</div><div class="legendBar">81</div><div class="legendBar">82</div><div class="legendBar">85</div></div>
    </div>
  <div class="byline">Source: Robert Wood Johnson Foundation, National Association for Public Health Statistics and Information Systems, National Center for Health Statistics | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
</div>

<div class="slide" id="compare">
  <div id="mapperTC" class="stackmap"><svg width="520" height="600" viewBox="0 0 520 600" preserveAspectRatio="xMidYMid" class="desktop"></svg></div>
  <div class="chatter">
      <div>Life expectancy by Census tract, Minneapolis and St. Paul</div>
      <div><div class="legendBar orange4"></div><div class="legendBar orange3"></div><div class="legendBar orange1"></div><div class="legendBar green1"></div><div class="legendBar green4"></div></div>
      <div class="ticks"><div class="legendBar">64</div><div class="legendBar">79</div><div class="legendBar">81</div><div class="legendBar">82</div><div class="legendBar">85</div></div>
    </div>
  <div class="byline">Source: Robert Wood Johnson Foundation, National Association for Public Health Statistics and Information Systems, National Center for Health Statistics | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
</div>

<!-- <div class="chart slide" id="chart">
  <div class="chatter">Shows the percentage of population by region with life expectancy <span class="legendary blue4">above</span>, <span class="legendary gray3">close to</span> or <span class="legendary orange3">below</span> the national average, according to 2010 Census numbers.</div>
  <div id="regionChart"></div>
</div> -->

</div>